.btn {
    
    border-color: azure;
    text-align: center;
    color: antiquewhite;
    width: 100%; /* Button width will be 100% of its container */
    max-width: 200px; /* Set a maximum width if needed */
    height: auto; /* Allow the height to adjust based on content */
    background-color: cadetblue;
    
     /* Increase padding for better touch/click experience */
    cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
     /* Set a reasonable font size */
    border-radius: 8px;

  }
  
  /* Optional: Add hover styles for better user feedback */
  .btn:hover {
    background-color: darkcyan;
    color: white;
  }
  